SwiftData.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SwiftData.xcodeproj/project.xcworkspace/xcuserdata/miken.xcuserdatad/UserInterfaceState.xcuserstate
SwiftData.xcodeproj/xcuserdata/miken.xcuserdatad/xcschemes/xcschememanagement.plist
